<form class="row g-2 needs-validation" [formGroup]="employeeControl" (ngSubmit)="onSubmit()">
  <div class="m-4">
    <h1>Front-End Developer</h1>
  <div class="mb-3 row">
    <label
      for="fn"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      First Name
    </label>
    <div class="col-sm-9">
      <input
        type="text"
        name="firstName"
        id="fn"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{'is-invalid': (employeeControl.controls['firstName'].invalid
        && employeeControl.controls['firstName'].touched)}"
        required
      >
      <div class="invalid-tooltip" *ngIf="employeeControl.controls['firstName'].invalid">
        <sup>*</sup> First name is required !!
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="ln"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Last Name
    </label>
    <div class="col-sm-9">
      <input
        type="text"
        name="lastName"
        id="ln"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{'is-invalid': (employeeControl.controls['lastName'].invalid
        && employeeControl.controls['lastName'].touched)}"
        required
      >
      <div class="invalid-tooltip" *ngIf="employeeControl.controls['lastName'].invalid">
        <sup>*</sup> Last name is required !!
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="bd"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Date Of Birth
    </label>
    <div class="col-sm-9">
      <form class="row row-cols-sm-9">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd-mm-yyyy"
              name="dp"
              [value]="getStartDate()"
              [(ngModel)]="model"
              formContro="employeeControl.controls[dateOfBirth']"
              ngbDatepicker #d="ngbDatepicker"
              [minDate]="{year: 1960, month: 1, day: 1}"
              [maxDate]="{year: 2005, month: 12, day: 31}"
            >
            <button
              class="btn btn-outline-secondary calendar"
              (click)="d.toggle()"
              type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <div class="invalid-tooltip" *ngIf="employeeControl.controls['dateOfBirth'].invalid">
        <sup>*</sup> Date Of Birth is required !!
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="framework"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Framework
    </label>
    <div class="col-sm-9">
      <select
        class="form-select"
        (change)="changeFram($event)"
        formControlName="framework"
        id="framework"
      >
        <option value="">Choose a framework</option>
        <option *ngFor="let framework of frameworks" [ngValue]="framework">
          {{ framework }}
        </option>
      </select>
      <div class="invalid-tooltip" *ngIf="frameworks">
        <sup>*</sup>Please provide framework name
      </div>
    </div>
  </div>
  <div class="mb-3 row" *ngIf="selectedFramework">
    <label
      for="framework"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Version
    </label>
    <div class="col-sm-9">
      <select
        class="form-select"
        (change)="changeVersion($event)"
        formControlName="frameworkVersion"
        id="frameworkVersion"
      >
        <option value="">Choose a version</option>
        <option *ngFor="let version of versions[selectedFramework]" [ngValue]="version">
          {{ version }}
        </option>
      </select>
      <div class="invalid-tooltip" *ngIf="frameworks">
        <sup>*</sup>Please provide framework name
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="email"
      class="col-sm-3 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Email
    </label>
    <div class="col-sm-9">
      <input
        type="text"
        name="email"
        id="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{'is-invalid': (employeeControl.controls['email'].invalid
        && employeeControl.controls['email'].touched)}"
        required
      >
      <div class="invalid-tooltip" *ngIf="employeeControl.controls['email'].invalid">
        <sup>*</sup> This email is invalid !!
      </div>
      <div class="invalid-tooltip" *ngIf="employeeControl.controls['email'].hasError('duplicateEmail')">
        <sup>*</sup> This email is allrready exist !!
      </div>
    </div>
  </div>
  <div formArrayName="hobby">
    <h2>Hobbies</h2>
    <div class="row gx-3 gy-2 align-items-center">
      <div class="col-sm-6">
        <input
          type="text"
          value="Name"
          readonly class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
    
      <div class="col-sm-6">
        <input
          type="text"
          value="Duration"
          readonly class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
    </div>
  </div>
  <fieldset *ngFor="let hob of hobby.controls; let i = index;">
    <div class="row gy-2 gx-3 align-items-center" formGroupName="{{i}}"> 
      <div class="col-sm-6 mb-2">
        <label [for]="'name' + i" class="visually-hidden"></label>
        <input
          [id]="'name' + i"
          type="text"
          name="name"
          formControlName="name"
          class="form-control"
          [ngClass]="{'is-invalid': (hobby.controls[i].get('name')?.invalid
          && (hobby.controls[i].get('name')?.dirty
          || hobby.controls[i].get('name')?.touched))}"
          required
        >
        <div class="invalid-tooltip" *ngIf="hobby.controls[i].get('name')?.invalid">
          * The name is required !!
        </div>
      </div>
      <div class="col-sm-6 mb-2">
        <label [for]="'duration' + i" class="visually-hidden"></label>
        <input
          [id]="'duration' + i"
          type="text"
          name="duration"
          formControlName="duration"
          class="form-control"
          [ngClass]="{'is-invalid': (hobby.controls[i].get('duration')?.invalid
          && (hobby.controls[i].get('duration')?.dirty
          || hobby.controls[i].get('duration')?.touched))}"
          required
        >
        <div class="invalid-tooltip" *ngIf="hobby.controls[i].get('duration')?.invalid">
          * Duration is required !!
        </div>
      </div>
    </div>
  </fieldset>
  <div class="col-sm-4 mb-4" >
    <button
      (click)="addNewHobby()"
      class="mt-3 btn btn-primary"
    >
      + Add New Hobbie
    </button>
  </div>
  <div class="col-sm-4 mb-4" >
    <button
      type="submit"
      class="mt-3 btn btn-primary"
    >
      Submit
    </button>
  </div>
  </div>
</form>